.sidebar-component {
  background-color: $dark-l2;
  min-height: 100vh;

  &__title {
    text-align: center;
    margin-bottom: 50px;

    span {
      color: $white;
      font-weight: 600;
    }
  }

  &__content {
    width: 240px;
    padding: 20px 8px;

    .menubar-collapse {
      .nav-item {
        button {
          color: $secondary-l1;

          &:hover {
            background: #ffffff06;
            color: $white;
          }

          &:focus {
            box-shadow: none;
            color: $secondary-l1;
          }
        }
      }

      .nav-nested > .nav-item {
        font-size: 16px;
        font-weight: 600;

        .nav-stacked .nav-item {
          button {
            padding-left: 32px;
          }

          button.active {
            background-color: $dark-l2;
            color: $white;

            &:hover {
              background: #ffffff06;
            }
          }
        }
      }
    }
  }
}
