$dark-l2: #393a4a !default;
$gray-200: #f1f2f5 !default;
$gray-600: #6b6c7e !default;
$primary: #0b5fff !default;
$secondary-l1: #a7a9bc !default;
$white: #fff !default;

@import "./components/layout";
@import "./components/page";
@import "./components/sidebar";
@import "./components/file_tree";

$fontFamilySansSerif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

.dropdown-menu {
  z-index: 1200 !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamilySansSerif;
  background-color: #f1f2f5;
}

#application-root {
  $secondary: #6b6c7e !default;

  @import "./pages/auth.scss";

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 8px;
  }

  .NavigationBar {
    height: 56px;

    .user-avatar {
      width: 32px;
      height: 32px;
      border-radius: 16px;
    }
  }

  * {
    box-sizing: border-box;
  }

  .NavigationBar ul.navbar-nav {
    display: contents;
  }

  .legend-text {
    color: $secondary;
    font-family: $fontFamilySansSerif;
    font-size: 16px;
  }
}
