.sidebar {
    background-color: white;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 100vh;
    position: fixed;
    width: 350px;
    top: 60px;
}

.layout {
    .children-content {
        margin-left: 320px; /* Add a top margin to avoid content overlay */
        margin-top: 100px; /* Add a top margin to avoid content overlay */
    }
}
